<footer class="footer">
  <small>
    <strong><a href ="https://josem-myrecipes.herokuapp.com/">MataCode Development Training</a></strong>
    by <em><a href ="https://josem-myrecipes.herokuapp.com/">Jose Miguel Alvarado</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#'%></li>
    </ul>
  </nav>
</footer>